		*{
			box-sizing:border-box;
		}
		h1{
			text-align:center;
			font-family: Helvetica;
			margin-bottom: 20px;
		}
		
		.item{
			float:left;
			margin-bottom: 10px;	
			margin-right: 10px;
			background-color: #cccccc;
			border: 3px solid black;
		}
		.itemname{
			float:right;
			border:3px solid black;
			border-top: 1px;
			border-right: 1px;
			background-color: #cc9a99;
			width: 30%;
			height: 28px;
			padding:2px;
			text-align: center;
			font-weight: bold;
			font-family:sans-serif;
			
		}
		#meatbox .itemname{
		background-color:maroon;
		color:white
		}
		#Sushibox .itemname{
				background-color:#FFDEAD;
			}
			
		p{
			clear: both;
			padding: 10px;
			font-weight: bold;
			font-family:sans-serif;
		}
		.menu{
			width: 100%
		}
		@media(min-width: 992px){
			.col-lg-4{
				float: left;
				width:33.33%;
			}
		}
		@media(min-width: 768px) and (max-width:991px){
			
			.col-lg-4{
				float: left;
				width:50%;
			}

			#Sushibox{
				float:left;
				width: 100%;
			}
			
		}

